* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
}

header .nav-father {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100px;
    background: rgba(8, 10, 10, 0.95);
}

header nav {
    width: 1220px;
    height: 100%;
    /* border:1px solid  skyblue; */
    margin: 0 auto;
}


header nav img {
    width: 187px;
    height: 51px;
    margin-top: 25px;
}


header nav ul {
    float: right;
    height: 100%;
}

header nav li {
    float: left;
    line-height: 100px;
    margin-left: 42px;

}

header nav li a {
    color: #999;
    font-size: 15px;
}

.first-link a {
    color: white;
    font-weight: bold;
}

.first-link~li a:hover {
    color: white;
}


.slide-show {
    width: 100%;
    height: 677.5px;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
}

.slide-show ul {
    width: 400%;
    height: 100%;
    position: absolute;
}

.slide-show ul li {
    width: 25%;
    height: 100%;
    float: left;
    background-size: 2622px 678px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    transition: left 1s;
}

.slide-show ul li:first-child {
    background-image: url("../img/loTDeveloperPlatform/head/3.jpg");
}

.slide-show ul li:nth-child(2) {
    background-image: url("../img/loTDeveloperPlatform/head/2.jpg");
}

.slide-show ul li:nth-child(3) {
    background-image: url("../img/loTDeveloperPlatform/head/3.jpg");
}

.slide-show ul li:last-child {
    background-image: url("../img/loTDeveloperPlatform/head/2.jpg");
}

.slide-show .introduce-box {
    position: absolute;
    left: 125px;
    bottom: 220px;
}

.slide-show .introduce-box a {
    color: white;
}

.slide-show .introduce-box>div {
    margin-top: 35px;
}

.slide-show .introduce-box>div:first-child {
    font-size: 35px;
    color: white;
    font-weight: 400px;
}

.slide-show .introduce-box>div:nth-child(2) {
    font-size: 17px;
    line-height: 23px;
    color: #b1afc0;
}

.slide-show .introduce-box>div:last-child {
    font-size: 18px;
    color: white;
    width: 135px;
    height: 40px;
    background-color: rgba(16, 195, 202, 1);
    line-height: 40px;
    text-align: center;
}

.slide-show .introduce-box>div:last-child:hover {
    background-color: rgba(16, 195, 202, 0.5);
}

.slide-show .click-box {
    position: absolute;
    left: 50%;
    margin-left: -42px;
    bottom: 60px;
}

.slide-show .click-box .bg-white {
    background-color: white;
}

.slide-show .slide-click {
    display: inline-block;
    width: 28px;
    height: 3px;
    background: black;
    margin-left: 14px;
    cursor: pointer;

}









.content {
    overflow: auto;
}



/* .content>section:after {
    clear: both;
    content: "";
    display: block;
} */

.upward-move {
    position: relative;
}

.upward-move:hover {

    box-shadow: 0px 0px 10px black;
}

.sec-one {
    margin-top: 50px;
}

.sec-one ul {
    width: 1236px;
    margin: 0 auto;
}

.sec-one ul:after {
    display: block;
    clear: both;
    content: "";
}



.sec-one ul li {
    float: left;
    width: 300px;
    height: 140px;
    margin-right: 12px;
    overflow: hidden;
}


.sec-one ul li:last-child {
    margin-right: 0;
}

.sec-one ul li img {
    width: 300px;
    height: 140px;
}


.sec-two,
.sec-three,
.sec-four {
    margin: 0 auto;
    margin-top: 110px;
    text-align: center;
    overflow: hidden;
}

.sec-two:after {
    content: "";
    display: block;
    clear: both;
}


.title {
    line-height: 35px;
    font-size: 35px;
    color: black;
    font-weight: 400px;

}

.title-description {
    font-size: 18px;
    font-weight: 18px;
    color: #999;
    font-weight: 400px;
}

.mar-top-70 {
    margin-top: 70px;
}

.sec-two p:nth-child(2) {
    padding-top: 30px;
}



.sec-two>div {
    width: 9999999999999999px;
}


.sec-two ul {
    float: left;
    position: relative;
}

.sec-two ul li {
    width: 200px;
    height: 115px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 20px;
    margin-right: 20px;
}

.sec-two ul li img {
    width: 200px;
    height: 115px;
}


.sec-three {
    width: 1236px;
}

.sec-three ul:after {
    content: "";
    display: block;
    clear: both;
}

.sec-three ul>li {
    float: left;
    width: 600px;
    text-align: left;
}

.sec-three ul>li:last-child {
    float: right;
}

.sec-three ul>li img {
    width: 600px;
    display: block;
}

.sec-three ul p:first-of-type {
    font-size: 18px;
    line-height: 50px;
    color: black;
    font-weight: bold;
}


.sec-three ul p:first-of-type~p {
    font-size: 16px;
    line-height: 24px;
    color: #999;
}

.sec-three ul>li div:last-of-type {
    width: 135px;
    height: 39px;
    line-height: 39px;
    text-align:center;
    background: rgba(16, 195, 202, 1);
    margin-top: 40px;
}

.sec-three ul>li div:last-of-type:hover {
    background: rgba(16, 195, 202, 0.8);
}

.sec-three ul>li div:last-of-type>a {
    font-size: 18px;
    color: white;
}


.sec-four {
    background: #2a3056;
    padding-top: 90px;
    padding-bottom: 75px;
}

.sec-four>p {
    color: white;
    padding-bottom: 85px;
}

.sec-four ul {
    width: 1100px;
    margin: 0 auto 65px;
    overflow: hidden;
}


.sec-four ul>li {
    float: left;
    width: 170px;
    margin-right: 55px;
    position: relative;
}

.sec-four ul>li:last-child {
    margin-right: 0;
}

.sec-four ul>li img {
    width: 68px;
    height: 68px;
}

.sec-four ul>li p {
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    line-height: 24px;
    
}

.sec-four ul>li p:first-of-type {
    color: white;
    font-size: 18px;
    line-height: 88px;
}

.sec-four ul>li hr {
    width: 80px;
    position: absolute;
    border:1px solid rgba(255, 255, 255, 0.5);
    left: 155px;
    top: 40px;
}


.sec-four>div {
    width: 275px;
    height: 50px;
    text-align:center;
    line-height: 50px;
    background: rgba(16, 195, 202, 1);
    margin: 0 auto;
}

.sec-four>div:hover {
    background: rgba(16, 195, 202, 0.8)
}

.sec-four div a {
    color: white;
}


footer {
    background: url("../img/loTDeveloperPlatform/background/1.png") no-repeat center center ;
    background-size: cover;
    
}

footer .sec-video {
    width: 100%;
    height: 580px;
    position: relative;
}

footer .sec-video>div {
    position: absolute;
    top: 50%;
    margin-top: -70px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 140px;
    text-align:center;
    color: white;
}

footer .sec-video img {
    width: 65px;
    height: 65px;
    cursor: pointer;
    /* display: block; */
    padding-bottom: 25px;
    /* margin: 0 auto; */
}


footer .sec-friendLink {
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    padding-top: 35px;
    border-bottom: 1px solid #ccc;
}

footer .sec-friendLink .box {
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
}

footer .sec-friendLink>.box>div {
    width: 330px;
    float:left;

}


footer .sec-friendLink>.box>div p:first-child {
    color: white;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 15px;
}

footer .sec-friendLink>.box>div p:first-child~p a {
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 14px;
    color: #999;
    display: inline-block;
}

footer .sec-policeNum {
    line-height: 75px;
    text-align:center;
    background: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    color: #999;
}


.modal-box {
    display:none;
    position: fixed;
    z-index: 9999999999999;
    background: rgba(0,0,0,0.5); 
    /* background: red; */
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    
}

.modal-box>div {
    position: relative;
    left: 50%;
    margin-left: -440px;
    top: 50%;
    margin-top: -268px;
    width: 880px;
    height: 536px;
    box-sizing: border-box;
    padding-top: 25px;
    background: black;
}

.modal-box>div .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #e53935;
    color: white;
    line-height: 35px;
    text-align:center;
    font-size: 20px;
    cursor: pointer;
}


.modal-box>div>video {
    width: 100%;
    height: 511px;
    border: none;
}