* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        "Microsoft Yahei",
        "Hiragino Sans GB",
        "Heiti SC",
        "WenQuanYi Micro Hei",
        sans-serif;
}

nav {
    width: 100%;
    height: 40px;
    background: #333;
}


.nav-middle {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}

.nav-middle div {
    /* width: 1226px; */
    float: right;
    /* margin-right: 60px; */
}

.nav-middle div:first-child {
    float: left;
    /* margin-left: 52px; */
}

nav div>a {
    color: #b0b0b0;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 40px;
    padding: 0 8px;
}

nav div>a:hover {
    color: white;
}

.nav-middle div:first-child a:nth-last-child(2) {
    position: relative;
    display: inline-block;
}

.nav-middle div:first-child a:nth-last-child(2):hover .hint {
    visibility: visible;
}

.hint {
    position: absolute;
    text-align: center;
    line-height: 12px;
    left: -35px;
    top: 16px;
    visibility: hidden;
    z-index: 100;
    /* background: white; */
}

.hint .triangle {
    display: inline-block;
    width: 0px;
    height: 0px;
    border: 16px solid transparent;
    border-bottom: 8px solid white;
}

.download {
    display: block;
    padding: 18px;
    box-shadow: 0 1px 5px #aaa;
    background: white;
}

.download img {
    width: 90px;
    height: 90px;
}

.download p {
    padding-top: 12px;
    font-size: 14px;
    color: #333;
}

.special {
    width: 120px;
    height: 100%;
    /* background: ; */
    display: inline-block;
    text-align: center;
    position: relative;
    transition: all 0.5s;
    background: #424242 url("../img/nav/02.png") no-repeat 10px center;
    background-size: 21px 18px;
}

/* .nav-middle>div:last-child a:last-child:hover {
     color: #ff6700;
     background: white url("../img/nav/03.png") no-repeat 10px center;
     background-size: 21px 18px;
 } */

.special:hover {
    color: #ff6700;
    background: white url("../img/nav/03.png") no-repeat 10px center;
    background-size: 21px 18px;
}

/* .nav-middle div:last-child a:last-child:hover .shops {
     visibility: visible;
 } */

.special:hover .shops {
    visibility: visible;
}

.shops {
    width: 321px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    right: -1px;
    top: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    color: black;
    visibility: hidden;
    z-index: 100;
    background: white;
}


.head {
    width: 100%;
    height: 100px;
    border: 1px solid #e0e0e0;
}

.head .head-middle {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
    /* background: yellow; */
    position: relative;
}

.head-middle .mi-home {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: #ff6700 url("../img/nav/04.png") no-repeat center center;
    background-size: 50px 50px;
    margin: 22.5px 0;
    transition: all 0.5s;
}

.head-middle .mi-home:hover {
    background-image: url("../img/nav/05.png");
}

.head-middle .title {
    /* float: left; */
    margin-left: 188px;
    display: inline-block;

}

.head-middle .title li {
    float: left;
    line-height: 100px;
    padding-right: 20px;
    cursor: pointer;
}

.title a {
    font-size: 16px;
    font-family: Helvetica, Arial;
    cursor: pointer;

}

.title a:hover {
    color: #ff6700;
    text-decoration: none;
}

.title>li:hover .title-goods {
    /* opacity: 1; */
    display: block;
    background: white;
    /* opacity: 1; */
    /* top: 100px; */
}

.title li .title-goods {
    width: 1366px;
    height: 230px;
    /* background: skyblue; */
    position: absolute;
    left: -60px;
    top: 100px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #d5d5d5;
    box-shadow: 0 2px 2px #e0e0e0;
    display: none;

    z-index: 10;

    /* z-index: 2;
     opacity: 0;
     display: block;
     top: -130px;
     left: -59px;
     transition: top 2s; */
    /* opacity: 0; */
    /* transition: opacity 0.5s !important; */
    /* transition: display 2s; */
}

.title li .title-goods>ul {
    /* border-top: 1px solid #e0e0e0; */
    width: 1250px;
    height: 100%;
    /* background: pink; */
    margin: 0 auto;
}

.title>li .title-goods>ul li {
    float: left;
    height: 100%;
    margin-left: 27px;
    /* position: relative; */
}

.title>li .title-goods>ul img {
    width: 160px;
    height: 110px;
    padding-top: 35px;
}

/*  */
.title>li .title-goods>ul .titile-goods-price {
    /* position: absolute;
     bottom: 0px;
     left: 50%; */
    font-size: 12px;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        "Microsoft Yahei",
        "Hiragino Sans GB",
        "Heiti SC",
        "WenQuanYi Micro Hei",
        sans-serif;
    margin-top: -30px;
    line-height: 25px;
    text-align: center;

}

.title>li .title-goods>ul p {
    color: #ff6700;
}

.head-middle .text-placeholder {
    position: absolute;
    right: 60px;
    top: 50%;
    margin-top: -8px;
    color: #757575;
    transition: visibility 0.1s;
}

.head-middle .text-placeholder span {
    background: #eee;
}

.head-middle .text-placeholder span:hover {
    background: #ff6700;
    color: white;
}

.head-middle .search {
    margin-top: 24px;
    float: right;
    width: 50px;
    height: 52px;
    border: 1px solid rgb(163, 157, 157);
    border-left: none;
    background: url("../img/nav/05.png") no-repeat center center;
}

.head-middle .search:hover {
    background-color: #ff6700;
}

.head-middle input {
    width: 245px;
    height: 50px;
    padding: 0 10px;
    outline: none;
    float: right;
    margin-top: 24px;
}

.head-middle input:focus {
    border: 1px solid #ff6700;
}

.head-middle .input-items {
    width: 266px;
    border: 1px solid #ff6700;
    border-top: none;
    position: absolute;
    right: 51px;
    top: 76px;
    line-height: 30px;
    visibility: hidden;
     z-index: 1000000;
     background: white;
}

.head-middle .input-items p {
    box-sizing: border-box;
    padding-left: 14px;
}

.head-middle .input-items p:hover {
    background: #ccc;
}

.head-middle .input-items a {
    font-size: 12px;
    color: #424242;
}




.modal-dialog-video {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10000;
    display: none;
}

.modal-dialog-video>div {
    width: 880px;
    height: 495px;
    background: black;
    position: absolute;
    left: 50%;
    margin-left: -440px;
    top: 50%;
    margin-top: -250px;
    cursor: pointer;
}

.modal-dialog-video>div video {
    width: 100%;
    height: 100%;
}

.modal-dialog-video>div .close-video {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e53935;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    right: 20px;
    top: 20px;
}





.content>h3{
    padding: 20px 0 25px 60px;
    font-size: 18px;
    font-weight: normal;
    color: #212121;

}

.abso {
    position: absolute;
}

.left-one {
    left: 190px;
}

.font-one {
    font-size: 32px;
    line-height: 47px;
}

.font-two {
    font-size: 47px;
    line-height: 57px;
    font-weight: 700px;
}

.font-two-sm {
    font-size: 47px;
    line-height: 53px;
    font-weight: 700px;
}

.font-three {
    font-size: 12px;
    line-height: 14px;
}

.font-three-md {
    font-size: 12px;
    line-height: 18px;
}

.font-four {
    font-size: 24px;
    line-height: 36px;
}

.font-five {
    font-size: 19px;
    line-height: 28px;
}

.font-six {
    font-size: 58px;
    line-height: 81px;
}

.fw-700 {
    font-weight: 700;
}

.font-white {
    color: white;
}

.font-grey {
    color: white;
    opacity: 0.3
}

.content sup {
    font-size: 24px;
    opacity: 0.5;
    position: relative;
    left: 3px;
    top: -9px;
}

.cotent .triangle {
    width: 0;
    height: 0;
    border: 
}

.content>section {
    width: 100%;
    position: relative;
}


.content img {
    width: 100%;
    display: block;
}

.content .sec-1>div {
    top: 100px;
}

.content .sec-2 {
    background: url("../img/miBand4/34.jpg") no-repeat;
    background-size: 100% 100%;
    height: auto;
    text-align: center;
}

.sec-2-box {
    margin: 0 auto;
    width: 950px;
    padding-top: 30px;
}

.video-box {
    width: 950px;
    height: 530px;
    /* background: red; */
    position: relative;
    margin-top: 75px;
}

.video-box video {
    width: 100%;
    height:100%;
}

.video-box>img {
    width: 95px;
    height: 95px;
    left: 50%;
    margin-left: -24px;
    top: 50%;
    margin-top: -24px;
}


.watch-details {
    overflow: hidden;
    display: inline-block;

}



.watch-details>div>p {
    color: #384b78;
}

.watch-details li p:first-child {
    color: #3a548f;
}

.watch-details li p:last-child {
    color: #3a548f;
}


.watch-details>div {
    float: left;
    width: 575px;
    height: 335px;
    margin-top: 65px;
}

.watch-details .line {
    height: 5px;
    width: 35px;
    background: #788aad;
    display: inline-block;
    margin-bottom: 45px;
    margin-top: 15px;
}

.watch-details>div li {
    float: left;
}

.margin-bottom-55 {
    margin-bottom: 55px;
}

.watch-details>div li:nth-child(even) {
    margin-left: 100px;
}

.watch-details>div li:nth-child(odd) {
    margin-left: 50px;
}


.sec-4>div {
    top: 0;
    left: 50%;
    margin-left: -240px;
    text-align:center;
}

.sec-4 p{
    font-size: 42px;
    line-height: 53px;
    font-weight: 700;
}

.sec-4 p:first-child {
    opacity: 0.5;
}


.content .sec-5>div:first-of-type {
    top: 0;
    left: 50%;
    margin-left: -224px;
    text-align:center;
}

.content .sec-5>div:last-of-type {
    bottom: 50px;
    left: 50%;
    margin-left: -195px;
    opacity: 0.5;
    color: #333;
}

.left-50cent {
    left: 50%;
}
.text-center {
    text-align:center;
}


.content .sec-6>div {
    top: 95px;
    margin-left: -226px;
    text-align:center;
}

.content .sec-7>div {
    top: 50%;
    margin-top: -70px;
    margin-left: -144px;
}


.content .sec-8 {
    background: black;
}

.content .sec-8>div {
    left: 170px;
    top: 265px;
}

.content .sec-9 {

}

.sec-9 ol li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ccc;
    transition: all 2s;
    z-index: 1000;
    bottom: 50px;
}















